._8esh{
    color: #385898;
    cursor: pointer;
    text-decoration: none;
}
.contentCurve{
    margin-left: 27% !important;
    margin-top: 1%;
}
.mv1{
    margin-top: 12px !important;
    margin-left: -38% !important;
}